.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .toggle-btn-container {
    display: flex; /* Display buttons in a row */
    justify-content: center; /* Center align the buttons */
    margin-bottom: 20px; /* Add some bottom margin */
  }
  
  .toggle-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .messages {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  